.pageHeader {
  color: #ffffff;
  font-family: bree serif;
}

.notFoundContainer {
  min-height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 576px) {
  .notFoundContainer {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}
